
    <br/><br/>
    <div class="text-center" >
        <h2 style="font-weight: bolder; background-color: white;">Welcome back to Diagnostikare, <%= current_user.name.capitalize %>! </h2>
        <button type="button" class="btn default" style="border-radius: 5px;">
            <%= link_to 'Report a new symptomp', new_report_path %>    
        </button>
                
    </div>

    <br/>
    <%# if current user has not any registered report do not show nothing %>
    <% unless @reports.empty? %>
        <div class="text-center">
            <h1 style="font-weight: bolder; background-color: white;"> Your reported symptomps: </h1>
            <div class="d-flex justify-content-center">
                <div class="btn-group-vertical">
                    <% @reports.each do |report| %>
                            <button type="button" class="btn default" style="border-radius: 5px;">
                                <%= link_to report.created_at.strftime('%F'), report %>
                            </button>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

    <%# if current user has not any past appointments do not show nothing%>
    <% unless @past_apts.empty? %>
        <div class="d-flex justify-content-center">
            <div class="col-md-6 justify-content-center row">
                <h3 class=" justify-content-center" style="font-weight: bolder; background-color: white;"> Your past appointments. </h3>
                <%= render './appointments/show', appointments: @past_apts %> 
            </div>
        </div>
    <% end %>

    <%# if current user has not any future appointments do not show nothing%>
    <% unless @future_apts.empty? %>
        <div class="d-flex justify-content-center">
            <div class="col-md-6 justify-content-center row">
                <h3 class=" justify-content-center"> Your future appointments. </h3>
                <%= render './appointments/show', appointments: @future_apts %> 
            </div>
        </div>
    <% end %>