
    <div class="text-center">
            <h2>Welcome back to Diagnostikare, <%= current_user.name.capitalize %>! </h2>
            <%= link_to 'Report a new symptomp', new_report_path %>
    </div>

    <%# if current user has not any registered report do not show nothing %>
    <% unless @reports.empty? %>
        <div class="text-center">
            <h1> Your reported symptomps: </h1>
            <div class="d-flex justify-content-center">
                <ul>
                    <% @reports.each do |report| %>
                        <li>
                            <p><%= link_to report.created_at.strftime('%F'), report %></p>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>

    <%# if current user has not any past appointments do not show nothing%>
    <% unless @past_apts.empty? %>
        <div class="d-flex justify-content-center">
            <div class="col-md-6 justify-content-center row">
                <h3 class=" justify-content-center"> Your past appointments. </h3>
                <%= render './appointments/show', appointments: @past_apts %> 
            </div>
        </div>
    <% end %>

    <%# if current user has not any future appointments do not show nothing%>
    <% unless @future_apts.empty? %>
        <div class="d-flex justify-content-center">
            <div class="col-md-6 justify-content-center row">
                <h3 class=" justify-content-center"> Your future appointments. </h3>
                <%= render './appointments/show', appointments: @future_apts %> 
            </div>
        </div>
    <% end %>