<h1> Format report </h1>

<%= form_with(model: @report) do |form| %>
    
    <div class="field">
        <%= form.label :symptomps %>
        <%= form.text_field :symptomps %>
        <% @report.errors.full_messages_for(:symptomps).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div class="actions">
        <%= form.submit %>
    </div>

<% end %>

<%= link_to 'Back', :back %>